/* Changement sur le body */
body
    {
        /* Page*/
        width: 1500px;
        background-color:black;
        /* Disposition */
        margin: auto;
        /* Texte */
        text-align: center;
        color: white;
        /* espace entre haut-page et texte */
        padding-top: 40px;
    }
/* Changement sur le header */
#titre header
    {
        /* Disposition */
        margin: auto;
        /* Texte */
        font-size: 40px;
        font-family: 'Mochiy Pop P One', sans-serif;
        /* Page */
        background-color: #5C6672;
    }
/* Changement sur la nav */
#accueil nav
    {
        /* Texte*/
        font-size: 32px;
    }

#accueil nav ul
    {
        /* Disposition */
        padding: 0px;
    }

#accueil nav ul a
    {
        /* Style */
        list-style-type: none;
        text-decoration: none;
        /* Texte */
        color: white;
    }

#accueil nav ul li
    {
        /* Taille */
        width: 400px;
        /* Disposition */
        display: inline-block;
        /* Border */
        border: 2px solid black;
        border-radius: 20px;
        /* Background */
        background-color: #6C6F7F;
    }

#accueil nav ul li:hover
    {
        background-color: #FFA500;
    }
/* Changement sur le search */
#search
    {
        /* texte */
        color: white;
        font-size: 24px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        /* Border */
        border: grey 3px solid;
        background-color: black;
        border-radius: 5px;
        /* Taille */
        width: 500px;
        padding: 0px 0px 0px 0px;
    }
/* Changement sur le button */
#searchbutton
{
    border-radius: 5px;
    position: absolute;
    width: 42px;
    height: 42px;
    background-image: url(./chercher.png);
}
/* Changement sur les suggestion de recherche */
#suggestions
    {
        background-color: white;
        width: 500px;
        text-align: center;
        color: black;
        margin:auto;
        font-family: 'Oswald';
    }
@media only screen
and (max-device-width : 810px)
and (min-device-width : 391px)
and (orientation : portrait)
    {
        /* Changement sur le body */
        body
            {
                width: 100%;
            }
        /* Changement sur le nav */
        #accueil nav ul
            {
                padding: 0px;
            }
        /* Changement sur la barre de recherche */
        #search
            {
                width: 100%;   
            }
    }

@media only screen
and (max-device-width : 390px)
and (orientation : portrait)
    {
        /* Changement sur le body */
        body
            {
                width: 100%;
            }
        /* Changement sur le nav */
        #accueil
            {
                width: 99%;
            }
        #accueil nav ul li
            {
                width: 100%;
            }
        #accueil nav ul
            {
                padding: 0px;
            }
        /* Changement sur la barre de recherche */
        #search
            {
                width: 100%;   
            }
    }

@media only screen
and (max-device-width : 1080px)
and (min-device-width : 1000px)
and (orientation : landscape)
    {
        body
            {
                width: 100%;
            }
    }

@media only screen
and (max-device-width : 915px)
and (min-device-width : 800px)
and (orientation : landscape)
    {
        body
            {
                width: 100%;
            }
    }